html {
  background-color: #ccc;
  height: 100vh;
}



.tag {
  margin-right: 0.2rem !important;
  margin-left: 0.2rem !important;
  border-radius: 4px !important;
}


.card {
  margin-bottom: 1.5rem;
}


.buttons {
  justify-content: center;
  margin-bottom: 1.5rem;
}


.modal-card {
  margin: 0 1rem;
}
.icon is-small {
  margin: 0.2rem;
}
.panel {
  box-shadow: none;
}
@media screen and (min-width: 769px), print {
  .column.is-one-quarter, .column.is-one-quarter-tablet {
    width: auto ;
  }
}
.add {
  display: flex;
}